.authenticate-page-task
  .auth-title-task
    プロフィール編集

.board-form-container
  .board-form-card{ data: { controller: 'avatar-preview' } }

    - if @profile.errors.any?
      .alert.alert-danger
        - @profile.errors.full_messages.each do |msg|
          %div= msg

    .current-avatar
      %label 現在のアバター画像
      = image_tag @profile.avatar_url,
                  class: 'profile-avatar preview-target',
                  alt: '現在のアバター',
                  loading: 'lazy'

    = form_with model: @profile, url: profile_path, method: :put, local: true do |f|
      .form-group
        = f.label :avatar, '新しいアバター画像'
        = f.file_field :avatar,
                       class: 'form-control',
                       accept: 'image/*',
                       data: { action: 'change->avatar-preview#update',
                               avatar_preview_target: 'input' }

      .form-group
        = f.label :nickname, 'ハンドルネーム'
        = f.text_field :nickname, class: 'form-control'

      .form-group
        = f.label :introduction, '自己紹介'
        = f.text_area :introduction, class: 'form-control'

      .form-group
        = f.label :gender, '性別'
        = f.select :gender,
                   Profile.genders.map { |k, _| [I18n.t("enum.genders.#{k}"), k] },
                   {},
                   class: 'form-control'

      .form-group
        = f.label :birthday, '生年月日'
        = f.date_field :birthday, class: 'form-control'

      .form-actions
        = f.submit '保存', class: 'btn btn-primary'
        = link_to 'キャンセル', root_path, class: 'btn btn-primary'

