.authenticate-container
  .auth-title ユーザ認証機能

  .authenticate-card
    %h2.card-title
      Sign up

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource

      .field-group
        = f.label :email, class: 'input-label'
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-box'

      .field-group
        = f.label :password, class: 'input-label'
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "new-password", class: 'input-box'

      .field-group
        = f.label :password_confirmation, class: 'input-label'
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-box'

      .actions
        = f.submit "Submit", class: 'submit-button'

    = render "devise/shared/links"
