.authenticate-page-task
  .auth-title-task
    タスク詳細

  .task-detail-container{ class: "priority-#{@task.priority.presence || 'none'}" }
    .task-detail-header
      %h2.task-detail-title= @task.title

      -# タスク投稿者本人関係無しに編集・削除可能（ドロップダウン）
      - if user_signed_in?
        .dropdown{ data: { controller: "dropdown" } }
          = image_tag 'actions.svg',
            class: 'dropbtn',
            alt: 'Actions',
            data: { action: "click->dropdown#toggle", cardlink_ignore: true }
          .dropdown-menu.hidden{ data: { dropdown_target: "menu" } }
            = link_to '編集',  edit_board_task_path(@board, @task), data: { cardlink_ignore: true }
            = link_to '削除',
              board_task_path(@board, @task),
              method: :delete,
              data: { turbo_confirm: '本当に削除してもよろしいですか？', cardlink_ignore: true }

    .task-detail-content
      = simple_format(@task.content)

    - if @task.eyecatch.attached?
      .task-detail-eyecatch
        = image_tag url_for(@task.eyecatch), class: 'task-eyecatch'

    .task-detail-deadline
      - if @task.deadline.present?
        %span.deadline-label 期限:
        %span= l(@task.deadline, format: :long)
      - else
        %span.deadline-label 期限:
        %span 未設定

    .task-detail-meta
      = image_tag @task.user.avatar_url, class: 'avatar avatar--sm', alt: 'Task owner'
      %span= @task.user.profile&.nickname.presence || @task.user.email.split('@').first

  .task-detail-comments
  %h3 コメント一覧

  - if @comments.present?
    - @comments.each do |comment|
      .task-detail--comment-card
        .task-detail--comment-meta
          = image_tag comment.user.avatar_url, class: 'avatar avatar--sm', alt: 'Comment user'
          %span.nickname= comment.user.profile&.nickname.presence || comment.user.email.split('@').first
          %div.timestamp= l(comment.created_at, format: :short)

          -# コメント投稿者自身なら編集・削除が可能
          - if user_signed_in? && comment.user == current_user
            .dropdown{ data: { controller: "dropdown" } }
              = image_tag 'actions.svg',
                class: 'dropbtn',
                alt: 'Actions',
                data: { action: "click->dropdown#toggle", cardlink_ignore: true }
              .dropdown-menu.hidden{ data: { dropdown_target: "menu" } }
                = link_to '編集',  edit_task_comment_path(@task, comment), data: { cardlink_ignore: true }
                = link_to '削除',
                  task_comment_path(@task, comment),
                  method: :delete,
                  data: { turbo_confirm: '本当に削除しますか？', cardlink_ignore: true }

        .task-detail--comment-content
          = simple_format(comment.content)
  - else
    %p コメントはまだありません。

  .comment-actions
    = link_to 'コメント追加', new_task_comment_path(@task), class: 'btn btn-primary'
    = link_to 'タスク一覧に戻る', board_path(@board), class: 'btn btn-primary'
