.authenticate-page-task
  .auth-title-task
    タスク詳細

  .task-detail-container{ class: "priority-#{@task.priority.presence || 'none'}" }
    .task-detail-header
      %h2.task-detail-title= @task.title

      - if @task.user == current_user
        = render 'shared/dropdown_menu',
            edit_path: edit_board_task_path(@board, @task),
            delete_path: board_task_path(@board, @task)

    .task-detail-content
      = simple_format(@task.content)

    - if @task.eyecatch.attached?
      .task-detail-eyecatch
        = image_tag url_for(@task.eyecatch), class: 'task-eyecatch'

    .task-detail-deadline
      = deadline_display(@task.deadline)

    .task-detail-meta
      = image_tag @task.user.avatar_url, class: 'avatar avatar--sm', alt: 'Task owner'
      %span= @task.user.display_name

  .task-detail-comments
  %h3 コメント一覧

  - if @comments.present?
    - @comments.each do |comment|
      .task-detail--comment-card
        .task-detail--comment-meta
          = image_tag comment.user.avatar_url, class: 'avatar avatar--sm', alt: 'Comment user'
          %span.nickname= comment.user.display_name
          %div.timestamp= l(comment.created_at, format: :short)

          - if comment.user == current_user
            = render 'shared/dropdown_menu',
                edit_path: edit_task_comment_path(@task, comment),
                delete_path: task_comment_path(@task, comment),
                confirm_message: '本当に削除しますか？'

        .task-detail--comment-content
          = simple_format(comment.content)
  - else
    %p コメントはまだありません。

  .comment-actions
    = link_to 'コメント追加', new_task_comment_path(@task), class: 'btn btn-primary'
    = link_to 'タスク一覧に戻る', board_path(@board), class: 'btn btn-primary'
