%h1 Bord Todo App

.authenticate-page
  .auth-title Board機能

  .cards-container
    - @latest_boards.each do |board|
      .authenticate-card
        %h3 Boards

        %h3
          .title-row
            = link_to board.title, board_path(board), class: 'board-title'
            = image_tag board.user.avatar_url, class: 'avatar'


        %p= board.content
        %p 作成者: #{board.user.profile&.nickname.presence || board.user.email}


        - if board.user == current_user
          = link_to '編集', edit_board_path(board), class: 'btn btn-outline-primary'
          = link_to '削除', board_path(board), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger'
        

  = link_to '新規作成', new_board_path, class: 'btn-primary'
  = link_to 'ボード一覧へ', boards_path, class: 'btn-secondary'

  - unless user_signed_in?
    = link_to 'ログイン / サインイン', users_auth_cards_path
  - else
    = link_to 'ログアウト', destroy_user_session_path, method: :delete

