%h2= @board.title
%p= @board.content

%h3 タスク一覧
- @tasks.each do |task|
  %div.task
    = link_to task.title, board_task_path(@board, task)
    %p= task.content
    %p 投稿者: #{task.user.email}
    %p 期限: #{task.deadline}

    - if task.eyecatch.attached?
      = image_tag task.eyecatch, class: 'task-eyecatch'

    - if user_signed_in? && task.user == current_user
      = link_to '編集', edit_board_task_path(@board, task), class: 'btn btn-outline-primary'
      = link_to '削除', board_task_path(@board, task),
        data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか？' },
        class: 'btn btn-outline-danger'

%h3 タスクを追加
= form_with model: [@board, @task], local: true do |f|
  - if @task.errors.any?
    %ul
      - @task.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    = f.label :title, 'タイトル'
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :content, '内容'
    = f.text_area :content, class: 'form-control'

  .form-group
    = f.label :deadline, '期限'
    = f.date_field :deadline, class: 'form-control'

  .form-group
    = f.label :eyecatch, 'アイキャッチ画像'
    = f.file_field :eyecatch, class: 'form-control'

  = f.submit '作成', class: 'btn btn-primary'

